html body {
    background: url(../../image/amari.jpg) no-repeat center fixed;
    background-size: cover;
    height: 100vh;
    width: 100vw;

}
.fondo {
    display: flex;
    justify-content: center;
    align-items: center;
}
.box {
    width: 150px;
    height: 30px;
    margin-top: 10px;
    font-size: 20px;
    color: rgba(9, 24, 239);
    text-align: center;
    background: transparent;
    transition: 0.19s linear;
    cursor: pointer;
    border-top: aqua;
    margin-bottom: 10px;
    margin-top: 10px;
}
.box:hover {
    color: rgb(234, 255, 0);
    background-color: blueviolet;
    border-radius: 50%;
}
.parrafo {
    padding: 0px 20% 0px 20%;
    font-family: Courier, monospace;
    font-weight: bold;
    margin-bottom: 150px;
}

.pasos {
    /* padding: 0% 20% 10% 20%; */
    padding: 0px 100px 30px 100px;
    /* margin-top: 15%; */
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
}
.cargando {
    padding-top: 17%;
}
.nopasos {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
}
.otro {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}
.step {
    margin-top: 30px;
    font-size: 20px;
}
.div {
    display: flex;
    flex-direction: column;
}
.sub {
    text-decoration: underline;
    font-family: 'Times New Roman', Times, serif;
    padding: 0px 240px 0px 240px;
}
.img {
    border-radius: 15%;
}
