.card {
    width: 40%;
    max-width: 120rem;
    margin: 1px auto;
    background: rgba(104, 100, 100, 0.459);
    border-radius: 10%;
    padding: 18px 18px;
    box-shadow: 3px -1px 50px -11px rgba(0, 0, 0, 1);
    -webkit-box-shadow: 3px -1px 50px -11px rgba(0, 0, 0, 1);
    -moz-box-shadow: 3px -1px 50px -11px rgba(0, 0, 0, 1);
}
.card:hover {
    transform: scale(0.9, 0.9);
    box-shadow: 5px 5px 30px 15px rgba(0, 0, 0, 0.25),
        -5px -5px 30px 15px rgba(0, 0, 0, 0.22);
}
p {
    text-align: center;
    align-items: center;
    height: 23px;
}
.letra {
    padding: 0px 20% 0px 20%;
    /* text-decoration: none; */
}
.image {
    background-size: cover;
    border-radius: 10px;
}
.dietas {
    background-color: darkgoldenrod;
    height: 25px;
    border-radius: 24px;
    padding: 0.5px;
    font-family: cursive;
}
