
.fondo {
    background: url(../../image/fondolanding.jpg) no-repeat center fixed;
    background-size: cover;
    height: 100vh;
     display: flex;
    justify-content: center;
    align-items: center; 
 
}

.caja {
    width: 300px;
    
    margin-top: 20px;
    transition: 0.5s linear;
    font-size: 30px;
    text-align: center;
    background: transparent;
    font-weight: 900;
    color: blue;
    cursor: pointer;
    border-bottom: 1px solid #49413a;
    box-shadow: 0px 0px 5px 0px rgba(99, 2, 254, 0.637);
    
}

.caja:hover {
    color: aqua;
}



 